---
---

@import 'jekyll-theme-leap-day';

body {
  background-attachment: fixed;
  background-image: url(../images/9sky.JPG);
  background-size: cover;
}

.wrapper {
  width: 60%;
}
.wrapper section {
  width: 94.5%;
}
.wrapper section img {
  width: 45%;
  float: left;
}
.wrapper section img:nth-child( odd ) {
  float: right;
}
.wrapper .nav {
  left: 36%;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
}
