---
---

@import 'jekyll-theme-leap-day';
@import url('https://fonts.googleapis.com/css?family=Lato|Volkhov');

/*

    font-family: 'Lato', sans-serif;
    font-family: 'Volkhov', serif;

 */

body {
  font-family: 'Volkhov', serif;
  background-attachment: fixed;
  background-image: url(../images/9sky.jpg);
  background-size: cover;
  text-align: justify;
}
header {
  background: #EFE3D8;
}
header h1 {
  font: 40px/48px 'Volkhov', serif;
  text-shadow: none;
  color: #3161B3;
}
h1#nettoyage-nergtique-journalier {
  text-align: center;
  margin: 16px;
}
header p {
	color: #3161B3;
	font-size: 20px;
}
nav {
  font-family: 'Lato', sans-serif;
  left: 4vw;
  margin-left: 0;
}
nav ul li.tag-h1 a {
  color: #fff;
}
nav ul a {
  color: #f2ddc9;
}
section {
  box-shadow: none;
  border: none;
}
h2 {
  margin-top: 5vh;
}
.contac {
  text-align: center;
}
.wrapper {
  width: 60%;
  text-align: justify;
}
.main {
  background: rgb(239, 227, 216);
  width: 94.5%;
}
.main p {
  font-size: 1.2em;
}
.main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
  color: #3161B3;
  margin-bottom: 35px;
}
.left, .right {
  overflow: auto;
}
.left img, .right img {
  width: 35%;
}

.left img {
  padding: 0 15px 15px 0;
  float: left;
}
.right img {
  padding: 0 0 15px 15px;
  float: right;
}
.full img {
  display: block;
  margin:auto;
  width: 50%;
}
.gradient {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #8A2387;
  background: -webkit-linear-gradient(to bottom, #6F4128, #FC935A);
  background: linear-gradient(to bottom, #6F4128, #FC935A);
  opacity: 0.7;
  top: 0;
  mix-blend-mode: color;
}
@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
}
